 /* #tasks-table {
    table-layout: fixed;
    word-wrap: break-word;
  } */

 /* #tasks-table td {
    white-space: normal !important;
    word-break: break-word !important;
    vertical-align: middle;
  }  */

  #tasks-table th, #tasks-table td {
    max-width: 250px; /* you can adjust width */
  } 



  /* for task color based on Working Status */
  tr.status-Pending td{
     background-color: #6c757d;
    font-weight: 600;
}
  tr.status-Working td{
    background-color: #0d6efd;
    font-weight: 600;
}
 tr.status-Pause td{
     background-color: #fd7e14;
    font-weight: 600;
}
tr.status-Testing td{
   background-color: #6f42c1;
    font-weight: 600;
}
tr.status-Done td{
      background-color: #198754;
    font-weight: 600;
}


/* priority column only */

.priority-col {
  position: relative;
  padding-right: 5px;
  /* padding-right: 48px; */
}
/* bar container */
.priority-bar {
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  width: 18px;
  background: #e5e7eb;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  font-size: 10px;
  font-weight: 650;
}
/* fill layer */
.priority-bar::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #999;
}
/* text on top */
.priority-bar span {
  position: relative;
  z-index: 1;
  color: #111;
}
.priority-high .priority-bar::before {
  height: 100%;
  background: #dc2626;
}
.priority-medium .priority-bar::before {
  height: 50%;
  background: #f59e0b;
}
.priority-low .priority-bar::before {
  height: 25%;
  background: #16a34a;
}
.priority-bar {
  border: 2px solid red;
}

/* for checkBox */
td.priority-col {
    text-align: center;          
    vertical-align: middle;
}
.priority {
    display: inline-flex;        
    flex-direction: column;
    align-items: flex-start;     
    gap: 4px;
}
.priority-item {
    display: flex;
    align-items: center;
    gap: 2px;
}




